/* Define the blur effect class */
.modal_container {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.modal_container.active {
  display: block;
  opacity: 1;
}

/* Ensure the initial state does not have blur */
.menu_background-2 {
  filter: none;
  transition: filter 0.3s ease; /* Ensure smooth transition */
}

.work_list :nth-child(4n + 1) {
  grid-column: span 2;
}
.work_list :nth-child(4n + 4) {
  grid-column: span 2;
  grid-row: span 1;
}

.work_list:has(div:last-of-type:nth-of-type(odd)) div:last-of-type {
  grid-column: 1 / span 2;
}

.work_card.hidden {
  opacity: 0;
  pointer-events: none; /* Prevent interaction with hidden items */
}

.work-filter_categories_text {
  /* Initial border styles */
  border: 1.5px solid black;
  border-radius: 10px; /* Rounded corners */
}

.work-filter_categories_text:hover {
  border-color: transparent; /* Hide the border color */
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  border-radius: 10px;
}

.active-category .work-filter_categories_text {
  /* Styles when the category button is active */
  border-color: transparent; /* Hide the border color */
  border-image: linear-gradient(to right, darkblue, darkorchid) 1; /* Gradient border */
  border-radius: 10px;
}

.modal-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_container {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal_container.active {
  display: block; /* Show the modal when active */
}

#modalVideo {
  width: 100%;
  height: 100%;
  display: none; /* Hidden by default */
}

.modal_image {
  width: 100%;
  height: auto;
  display: none; /* Hidden by default */
}

#spinner {
  display: none; /* Hidden by default */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work_card_image-1 {
  filter: blur(0px) brightness(75%); /* Initial blur effect */
  transition: filter 0.3s ease; /* Smooth transition */
}

.work_card_image-1:hover {
  filter: blur(0px) brightness(100%); /* Remove blur on hover */
}

.work-filter_categories_text:hover {
  border: 1.5px solid transparent; /* Make border transparent */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 10px;
  width: 100%;
  height: 100%; /* Adjust padding for proper background clip */
}

.active-category .work-filter_categories_text {
  border: 1.5px solid transparent; /* Make border transparent */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 10px;
  /* Adjust padding for proper background clip */
}

/* Tablet (landscape) */
@media screen and (max-width: 767px) {
  .work_list {
    grid-template-columns: 9fr; /* Single column for tablets */
    grid-template-rows: 1fr; /* Single column for tablets */
  }
}

/* Mobile (portrait) */
@media screen and (max-width: 479px) {
  .work_list {
    grid-template-columns: 3fr; /* Single column for phones */
  }
}

#scrollUpIcon.back_to_top-show {
  display: flex !important; /* Ensure the icon is displayed when the class is added */
  opacity: 1 !important; /* Ensure the icon is fully visible */
  /* Additional styling can go here if needed */
}

html {
  scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
